<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="min-height: 900px">
    <a href="{% url 'mailing:main_page' %}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img width="40px" src="/static/imgs/mailing-service-logo.png">
        <span class="fs-4 mx-2">Сервис Рассылки</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-center">

        <li>
            <a href="{% url 'mailing:main_page' %}" class="nav-link text-white" aria-current="page">
                Главная
            </a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'mailing:message_list' %}" class="nav-link text-white">
                    Сообщения
                </a>
            </li>

            <li>
                <a href="{% url 'mailing:receiver_list' %}" class="nav-link text-white">
                    Получатели
                </a>
            </li>

            <li>
                <a href="{% url 'mailing:attempt_list' %}" class="nav-link text-white">
                    Попытки рассылок
                </a>
            </li>

            <li>
                <a href="{% url 'mailing:stats' %}" class="nav-link text-white">
                    Моя статистика
                </a>
            </li>
            {% if perms.users.can_manage_users %}
                <li>
                    <a href="{% url 'mailing:users_list' %}" class="nav-link text-white">
                        Список пользователей
                    </a>
                </li>
            {% endif %}
        {% endif %}

    </ul>
    <hr>

    {% if user.is_authenticated %}
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% if user.avatar.name %}/media/{{user.avatar.name}}{% else %}/static/imgs/wo-avatar.png{% endif %}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ user.username }}</strong>

        </a>
        {% if perms.users.can_manage_users %}Менеджер{% endif %}
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="{% url 'users:profile_detail' user.pk %}">Профиль</a></li>
            <li>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">Выйти</button>
                </form>
            </li>
        </ul>
    </div>

    {% else %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'users:login' %}" class="btn btn-primary">Вход</a>
        <a href="{% url 'users:register' %}" class="btn btn-primary ">Регистрация</a>
    </div>

    {% endif %}

</div>