{% extends 'mailing/base.html' %}


{% block title %}Список сообщений{% endblock %}

{% block content %}

<div class="mt-5">
    <div class="text-center">
        <h1>Управление сообщениями</h1>
        <a href="{% url 'mailing:message_new' %}" class="btn btn-primary">Новое сообщение</a>
    </div>
    {% if messages|length > 0 %}
        <div class="mt-5">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-3"><h4>Тема</h4></li>
                <li class="list-group-item col-4"><h4>Текст</h4></li>
            </ul>

            {% for message in messages %}
            <div class="row">
                <a href="{% url 'mailing:message_detail' message.pk %}" class="text-decoration-none">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-3">{{message.subject|truncatechars:50}}</li>
                    <li class="list-group-item col-4">{{message.message_text|truncatechars:100}}</li>
                </ul>
            </a>
            </div>

            {% endfor %}
        </div>
    {% else %}
        <div>
            <h2 style="color: red" class="text-center mt-5"><————— Пусто —————></h2>
        </div>
    {% endif %}

</div>

{% endblock %}
