{% extends "mailing/base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if validlink %}
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <h2>Сброс пароля</h2>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password1">Новый пароль</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                               class="form-control" required id="id_new_password1"
                                               placeholder="Новый пароль"/>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password2">Подтверждение пароля</label>
                                        <input type="password" name="new_password2" autocomplete="new-password"
                                               required id="id_new_password2" class="form-control"
                                               placeholder="Подтверждение пароля"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-primary" id="reset">
                                            Сохранить пароль
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-warning">
                    <p>Неправильная ссылка сброса пароля. Возможна данная страница уже была использована для сброса.</p>
                    <p>Сделайте новый запрос на сброс.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
